@import "variables";
@import "config";

body {
    min-width: 800px;
    overflow: scroll;
    color: $light-2;
    background: $light-1;
    @include body;

    &::-webkit-scrollbar {
        display: none;
    }
}

header {
    margin: 20px;

    #top-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        h1 {
            @include title;
        }
    
        a {
            text-decoration: none;
            font-weight: map-get($font-weight, L);
            color: $light-2;

            &:hover {
                text-decoration: underline $mid-color 5px;
            }
        }
    }
    
    #banner {
        height: 100vh;
        min-height: 1100px;
        display: flex;
        justify-content: center;
        align-items: center;

        #intro {

            h1 {
                font-size: 7rem;
                font-weight: map-get($font-weight, L);
            }

            h2{
                font-size: 4rem;
                font-weight: map-get($font-weight, L);
            }

            p {
                text-align: right;
                opacity: 0.5;
            }
        }
        
        img {
            width: 400px;
        }
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        a {
            border: solid;
            padding: 30px;
            width: 150px;
            height: 150px;
            text-decoration: none;
            color: $light-2;

            &:hover {
                transform: translateY(-10px);
            }
        }
    }
}

main {
    section {
        padding: 100px 0;
        display: none;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        color: $dark-2;
        background: $dark-1;

        &:target {
            display: flex;
        }
    }

    #algebra-cal {
        &>div {
            display: grid;
            grid-template-columns: repeat(4, 110px);
            grid-template-rows: minmax(110px, auto) repeat(6, 110px);

            .output {
                margin: 10px;
                border-radius: 20px;
                padding: 20px;
                grid-column: span 4;
                grid-row: span 2;
                display: flex;
                flex-flow: column;
                justify-content: space-evenly;
                align-items: flex-end;
                word-wrap: break-word;
                word-break: break-all;
                text-align: end;
                color: $light-2;
                background: $light-1;

                #previous-operand {
                    min-height: 3rem;
                    @include subtitle;
                }

                #current-operand {
                    min-height: 4rem;
                    @include title;
                }
            }

            .horizontal-span {
                grid-column: span 2;
            }

            .vertical-span {
                grid-row: span 2;
            }

            button {
                @include button;

                &:active {
                    background: $mid-color;
                }
            }

            .primary {
                color: $dark-2;
                background: $mid-color;
                @include subtitle;
            }
        }
    }

    #tip-cal {
        &>div {
            h3 {
                margin: 10px;
                text-align: center;
            }

            form {
                margin: 10px 20px;
                width: fit-content;

                input {
                    @include input;
                }

                button {
                    @include button;
                }

                #people-input {
                    display: inline;
                }
            }

            .output {
                margin: 10px;
                width: 95%;
                display: flex;
                flex-flow: column;
                align-items: flex-end;

                #total1-output,
                #total2-output,
                #total3-output {
                    font-size: 2rem;
                }
            }

            .reset-btn {
                text-align: center;

                button {
                    @include button;
                }
            }
        }
    }

    #base-converter,
    #numeric-system-converter {
        &>div {
            form {
                input {
                    width: 500px;
                    @include input;
                    font-weight: map-get($font-weight, L);
                }

                select {
                    margin: 10px;
                    border: none;
                    padding: 10px;
                    outline: none;
                    color: $dark-2;
                    background: $mid-color;
                    @include body;
                }

                button {
                    @include button;
                }

            }

            i {
                margin: 20px;
                width: 95%;
                text-align: center;
                animation: animate1 1s ease-in-out infinite;
            }
        }
    }
}

footer {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        margin: 10px;
        border-radius: 50%;
        padding: 10px;
        position: fixed;
        bottom: 0;
        right: 0;
        text-decoration: none;
        color: $dark-1;
        background-color: $light-1;
    }
}

@keyframes animate1 {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}