@import "variables";
@import "config";

body {
    min-width: 700px;
    overflow: scroll;
    color: $color-3;
    background: rgba($color-1, 0.9);
    @include body;

    &::-webkit-scrollbar {
        display: none;
    }
}

header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        margin: 0 10px;
        @include title;
    }

    .menu-nav {
        a {
            margin: 0 10px;
            @include link;
        }
    }
}

main {
    section {
        border-radius: 20px;
        margin: 20px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        background: $color-1;

        &>h1 {
            margin-top: 100px;
        }

        &>div {
            margin: 50px 0 100px;
        }
    }

    #algebra-cal {
        &>div {
            display: grid;
            grid-template-columns: repeat(4, 110px);
            grid-template-rows: minmax(110px, auto) repeat(6, 110px);

            .output {
                margin: 0 10px;
                border-radius: 20px;
                padding: 20px;
                grid-column: span 4;
                grid-row: span 2;
                display: flex;
                flex-flow: column;
                justify-content: space-evenly;
                align-items: flex-end;
                word-wrap: break-word;
                word-break: break-all;
                font-size: 2rem;
                text-align: end;
                background: rgba($color-3, 0.3);
            }

            .horizontal-span {
                grid-column: span 2;
            }

            .vertical-span {
                grid-row: span 2;
            }

            button {
                @include button;
                @include subtitle;
                color: $color-1;
                background: $color-2;

                &:active {
                    background: $color-3;
                }
            }
        }
    }

    #base-converter {
        &>div {
            form {
                #input-base-num,
                #output-base-num {
                    width: 400px;
                    @include input;
                }

                select {
                    margin: 10px;
                    border: none;
                    outline: none;
                    color: $color-1;
                    background: rgba($color-3, 0.6);
                    @include body;
                }

                button {
                    @include button;
                    color: $color-1;
                    background: $color-2;
                }

            }

            i {
                margin: 30px;
                width: 95%;
                text-align: center;
            }
        }
    }

    #numeric-system-converter {
        &>div {
            form {
                #input-num,
                #output-num {
                    width: 400px;
                    @include input;
                }

                select {
                    margin: 10px;
                    border: none;
                    outline: none;
                    color: $color-1;
                    background: rgba($color-3, 0.6);
                    @include body;
                }

                button {
                    @include button;
                    color: $color-1;
                    background: $color-2;
                }

            }

            i {
                margin: 30px;
                width: 95%;
                text-align: center;
            }
        }
    }

    #tip-cal {
        &>div {
            border-radius: 20px;
            color: $color-1;
            background: $color-2;

            h3 {
                margin: 10px auto;
                width: fit-content;
            }

            form {
                margin: 10px 20px;
                width: fit-content;

                input {
                    @include input;
                }

                button {
                    @include button;
                    color: $color-3;
                    background: $color-1;
                }

                .num-of-people {
                    margin: 0 10px;
                }
            }

            .output {
                margin: 10px;
                width: 95%;
                display: flex;
                flex-flow: column;
                align-items: flex-end;

                #total1-output,
                #total2-output,
                #total3-output {
                    font-size: 2rem;
                }
            }

            .reset-btn {
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    @include button;
                    color: $color-3;
                    background: $color-1;
                }
            }
        }
    }
}

footer {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}