@import "variables";
@import "config";

body {
    min-width: 750px;
    overflow-y: scroll;
    display: flex;
    flex-flow: column;
    color: $color-3;
    background: rgba($color-1, 0.9);
    @include body;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background: $color-3;
    }
}

header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        margin: 0 10px;
        @include title;
    }

    .menu-nav {
        a {
            margin: 0 10px;
            @include link;
        }
    }
}

main {
    section {
        border-radius: 20px;
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-1;

        &>div {
            margin: 30px;
            border-radius: 20px;
            color: $color-1;
            background: $color-2;
        }
    }

    #tip-cal {
        #receipt {
            h3 {
                margin: 10px auto;
                width: fit-content;
            }

            form {
                margin: 10px;
                width: fit-content;

                input {
                    @include input;
                }

                button {
                    @include button;
                }

                .num-of-people {
                    margin: 0 10px;
                    font-size: 1.75rem;
                }
            }

            div {
                margin: 10px;
                width: 95%;
            }

            .output {
                display: flex;
                flex-flow: column;
                align-items: flex-end;

                #total1-output,
                #total2-output,
                #total3-output {
                    font-size: 2.5rem;
                }
            }

            .reset-btn {
                display: flex;
                justify-content: center;
                align-items: center; 

                button {
                    @include button;
                }
            }
        }
    }
}

footer {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}