* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 800px;
  overflow-x: scroll;
  display: grid;
  grid-template-columns: 15vw auto;
  grid-template-rows: 95vh 5vh;
  color: #f4f1de;
  background: #3d405b;
  font-weight: 400;
  font-size: 1.25rem;
}
body::-webkit-scrollbar {
  display: none;
}

header {
  grid-area: 1/1/span 1/span 1;
}
header .title {
  font-weight: 800;
  font-size: 3rem;
}
header .menu-nav {
  height: 90%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
header .menu-nav a {
  margin: 20px 10px;
  color: #f4f1de;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
header .menu-nav a:hover {
  color: #f2cc8f;
}

main {
  grid-area: 1/2/span 2/span 1;
  height: 100%;
  overflow-y: scroll;
}
main::-webkit-scrollbar {
  width: 8px;
  background: rgba(244, 241, 222, 0.5);
}
main::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #3d405b;
}
main section {
  width: 100%;
  min-height: 100vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
main #tip-cal {
  display: flex;
  justify-content: center;
  align-items: center;
}
main #tip-cal #receipt {
  margin: 20px;
  border-radius: 20px;
  width: 50%;
  background: #3d405b;
}
main #tip-cal #receipt h3 {
  margin: 30px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
main #tip-cal #receipt div {
  margin: 30px;
  width: 90%;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}
main #tip-cal #receipt div #total1-output,
main #tip-cal #receipt div #total2-output,
main #tip-cal #receipt div #total3-output {
  font-size: 2.5rem;
}
main #tip-cal #receipt form {
  margin: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
main #tip-cal #receipt form input {
  margin: 10px;
  border: solid #f4f1de;
  border-radius: 20px;
  padding: 10px 15px;
  color: #3d405b;
  background: rgba(244, 241, 222, 0.5);
  outline: none;
  font-weight: 400;
  font-size: 1.25rem;
}
main #tip-cal #receipt form .num-of-people {
  margin: 0 10px;
  font-size: 1.75rem;
}
main #tip-cal #receipt form .num-of-people button {
  margin: 10px;
  border: solid #f4f1de;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  color: #3d405b;
  background: rgba(244, 241, 222, 0.5);
  cursor: pointer;
  font-weight: 600;
  font-size: 1.5rem;
}

footer {
  grid-area: 2/1/span 1/span 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1950px) {
  body {
    grid-template-columns: auto;
    grid-template-rows: 5vh 90vh 5vh;
  }
  header {
    grid-area: 1/1/span 1/span 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .menu-nav {
    flex-flow: row;
    align-items: center;
  }
  header .menu-nav a {
    margin: 0 20px;
  }
  main {
    grid-area: 2/1/span 1/span 1;
  }
  main section {
    min-height: 90vh;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  footer {
    grid-area: 3/1/span 1/span 1;
  }
}/*# sourceMappingURL=style.css.map */