* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 800px;
  overflow: scroll;
  color: #000000;
  background: #e8e8e8;
  font: 400 1.25rem "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}

header {
  margin: 20px;
}
header #top-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #top-head h1 {
  font: 800 3rem "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header #top-head a {
  text-decoration: none;
  font-weight: 800;
  color: #000000;
}
header #top-head a:hover {
  -webkit-text-decoration: underline #5b5b5b 5px;
          text-decoration: underline #5b5b5b 5px;
}
header #banner {
  height: 100vh;
  min-height: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #banner #intro h1 {
  font-size: 7rem;
  font-weight: 800;
}
header #banner #intro h2 {
  font-size: 4rem;
  font-weight: 800;
}
header #banner #intro p {
  text-align: right;
  opacity: 0.5;
}
header #banner img {
  width: 400px;
}
header nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header nav a {
  border: solid;
  padding: 30px;
  width: 150px;
  height: 150px;
  text-decoration: none;
  color: #000000;
}
header nav a:hover {
  transform: translateY(-10px);
}

main section {
  padding: 100px 0;
  display: none;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: #3a3a3c;
}
main section:target {
  display: flex;
}
main #algebra-cal > div {
  display: grid;
  grid-template-columns: repeat(4, 110px);
  grid-template-rows: minmax(110px, auto) repeat(6, 110px);
}
main #algebra-cal > div .output {
  margin: 10px;
  border-radius: 20px;
  padding: 20px;
  grid-column: span 4;
  grid-row: span 2;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: flex-end;
  word-wrap: break-word;
  word-break: break-all;
  text-align: end;
  color: #000000;
  background: #e8e8e8;
}
main #algebra-cal > div .output #previous-operand {
  min-height: 3rem;
  font: 600 2rem "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
main #algebra-cal > div .output #current-operand {
  min-height: 4rem;
  font: 800 3rem "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
main #algebra-cal > div .horizontal-span {
  grid-column: span 2;
}
main #algebra-cal > div .vertical-span {
  grid-row: span 2;
}
main #algebra-cal > div button {
  margin: 10px;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 1.25rem;
  font-weight: 800;
  color: #000000;
  background: #e8e8e8;
  cursor: pointer;
}
main #algebra-cal > div button:active {
  background: #5b5b5b;
}
main #algebra-cal > div .primary {
  color: #ffffff;
  background: #5b5b5b;
  font: 600 2rem "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
main #tip-cal > div h3 {
  margin: 10px;
  text-align: center;
}
main #tip-cal > div form {
  margin: 10px 20px;
  width: -moz-fit-content;
  width: fit-content;
}
main #tip-cal > div form input {
  margin: 10px;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  color: #ffffff;
  background: #5b5b5b;
  outline: none;
  font: 400 1.25rem "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
main #tip-cal > div form button {
  margin: 10px;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 1.25rem;
  font-weight: 800;
  color: #000000;
  background: #e8e8e8;
  cursor: pointer;
}
main #tip-cal > div form #people-input {
  display: inline;
}
main #tip-cal > div .output {
  margin: 10px;
  width: 95%;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}
main #tip-cal > div .output #total1-output,
main #tip-cal > div .output #total2-output,
main #tip-cal > div .output #total3-output {
  font-size: 2rem;
}
main #tip-cal > div .reset-btn {
  text-align: center;
}
main #tip-cal > div .reset-btn button {
  margin: 10px;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 1.25rem;
  font-weight: 800;
  color: #000000;
  background: #e8e8e8;
  cursor: pointer;
}
main #base-converter > div form input,
main #numeric-system-converter > div form input {
  width: 500px;
  margin: 10px;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  color: #ffffff;
  background: #5b5b5b;
  outline: none;
  font: 400 1.25rem "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
}
main #base-converter > div form select,
main #numeric-system-converter > div form select {
  margin: 10px;
  border: none;
  padding: 10px;
  outline: none;
  color: #ffffff;
  background: #5b5b5b;
  font: 400 1.25rem "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
main #base-converter > div form button,
main #numeric-system-converter > div form button {
  margin: 10px;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 1.25rem;
  font-weight: 800;
  color: #000000;
  background: #e8e8e8;
  cursor: pointer;
}
main #base-converter > div i,
main #numeric-system-converter > div i {
  margin: 20px;
  width: 95%;
  text-align: center;
  animation: animate1 1s ease-in-out infinite;
}

footer {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a {
  margin: 10px;
  border-radius: 50%;
  padding: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  text-decoration: none;
  color: #3a3a3c;
  background-color: #e8e8e8;
}

@keyframes animate1 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}/*# sourceMappingURL=style.css.map */